.signup-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 3rem;
}

.Login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}