.best {
    display: flex;
    justify-content: center;
    
    align-items: stretch; /* Ensure both sides stretch equally */
    gap: 3rem;
    padding: 5rem 0 10rem 0;
    /* height: 100vh; */
    background-color: white;
}

.excellence {
    font-size: 3rem;
    text-align: center;
    margin-top: 10rem;
    position: relative;
}



.excellence::after {
    content: '';
    position: absolute;
    width: 8rem;
    height: 4px;
    background-color: orange;
    left: 50%;
    transform: translateX(-50%);
    bottom: -10px;
}

.best-left {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2rem;
    height: auto; /* Let the content determine the height */
}

.best-left img {
    border-radius: 1.5rem;
}

.best-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 40%;
    height: auto; /* Let the container stretch */
}

.best-top,
.best-down {
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 50%; /* Distribute height evenly */
    align-items: center;
}

.best-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    width: 50%;
    border-radius: 1.5rem;
    height: 100%; /* Match height within top or down */
    background-color: rgba(239, 238, 238, 0.348);
    box-sizing: border-box; /* Ensures padding is included in height calculation */
    
}

.teach-b, .clock-b, .dollar-b, .trofy-b {
    color: white;
    border-radius: 1rem;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.teach-b {
    background-color: #3F80C0;
}

.clock-b {
    background-color: #A6CF49;
}

.dollar-b {
    background-color: #FE5FA6;
    font-size: 2rem;
}

.trofy-b {
    background-color: #FA6339;
    font-size: 2rem;
}
.teach-h2 {
    color: #043f7a;
}
.clcl-h2 {
    color:#446003 ;
}
.dollar-h2 {
    color: #bb0457;
}
.trofy-h2 {
    color: #c72d02;
}
@media screen and (max-width : 1400px) {
    .teach-b, .clock-b, .dollar-b, .trofy-b { 
        width: 3rem;
        height: 3rem;
        border-radius: 0.5rem;
        font-size: 1.5rem;
    }

    
}

@media screen and (max-width : 1300px) {
    .teach-b, .clock-b, .dollar-b, .trofy-b { 
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    .best-box {
        gap: 0.5rem;
    }

    .best-box h2 {
        font-size: 1.1rem;

    }
    
}


@media screen and (max-width : 1000px) {

    .teach-b, .clock-b, .dollar-b, .trofy-b { 
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        font-size: 1rem;
    }
    .best-box h2 {
        font-size: 1rem;

    }

    .best-box p {
        font-size: 0.7rem;
    }

    .best-box {
        padding: 1rem;
        gap: 0.5rem;
    }
    .best-h {
        font-size: 1.2rem;
    }
    .best-p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width : 600px) {
    .best {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
    }

    .best-left {
        width: 90%;
    }

    .best-right {
        width: 90%;
        gap: 1rem;
    }
    .teach-b, .clock-b, .dollar-b, .trofy-b { 
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
        font-size: 1rem;
    }

    .best-box h2 {
        font-size: 1.3rem;

    }

    .best-box p {
        font-size: 0.7rem;
    }

    .best-box {
        padding: 1rem;
        gap: 0.5rem;
    }
    .best-top,
    .best-down {
    gap: 1rem;
    }
    
}